<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Boolean_Data_Type_Useage/src/AUTHENTACATION_BY_BOOLEAN.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="AUTHENTACATION_BY_BOOLEAN"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Boolean_Data_Type_Useage"/>
</launchConfiguration>
