<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Finding_Factorial_Using_Functions_In_Return_Type_IN_GUI/src/Factorial_App.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Factorial_App"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Finding_Factorial_Using_Functions_In_Return_Type_IN_GUI"/>
</launchConfiguration>
