<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OOP_Paper_Q2_Creating_Functions_With_Return_Types_And_Object_Creation/src/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OOP_Paper_Q2_Creating_Functions_With_Return_Types_And_Object_Creation"/>
</launchConfiguration>
