<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SoloLearn_Last_Question_Of_While_Loop/src/While_Loop_Twisted.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="While_Loop_Twisted"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SoloLearn_Last_Question_Of_While_Loop"/>
</launchConfiguration>
